<!DOCTYPE html>
<html lang="zh-CN">
  <head>
  	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>121银行网上银行</title>
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/user.css">
  </head>
  <body>
    <header>
      <div class="inner-header clear">

        <div class="header-name">
          <div class="title">
            121银行
          </div>
          <div class="title-dec">
            您的财富管理银行
          </div>
        </div>
        <div class="title-e">
          个人网上银行
        </div>
        <div class="user">
          <div class="wel">
            <%=user.name %>,您好！
          </div>
          <a class="logout">【安全退出】</a>
        </div>
      </div>
    </header>
    <main>
      <div class="inner-main clear">
        <div class="sidebar">
          <div class="user-img">
            <img src="/upload/<%=user.headUrl %>" alt="头像" />
          </div>
          <div class="user-name">
            <%=user.trueName %>
          </div>
          <div class="sidebar-fuc">
            <ul>
              <li target="list0"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>首页</li>
              <li target="list1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>个人信息</li>
              <li target="list2"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>账户查询</li>
              <li target="list3"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>明细查询</li>
              <li target="list4"><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span>转账</li>
              <li target="list5"><span class="glyphicon glyphicon glyphicon-phone" aria-hidden="true"></span>手机充值</li>
            </ul>
          </div>
        </div>
        <div class="content">
          <div class="content-list" target="list0">
            <!-- Bootstrap carousel -->
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                <li data-target="#carousel-example-generic" data-slide-to="5"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <img src="/img/carousel1.jpg" alt="1">
                  <div class="carousel-caption">
                  </div>
                </div>
                <div class="item">
                  <img src="/img/carousel2.jpg" alt="2">
                  <div class="carousel-caption">
                  </div>
                </div>
                <div class="item">
                  <img src="/img/carousel3.jpg" alt="3">
                  <div class="carousel-caption">
                  </div>
                </div>
                <div class="item">
                  <img src="/img/carousel4.jpg" alt="4">
                  <div class="carousel-caption">
                  </div>
                </div>
                <div class="item">
                  <img src="/img/carousel5.jpg" alt="5">
                  <div class="carousel-caption">
                  </div>
                </div>
                <div class="item">
                  <img src="/img/carousel6.jpg" alt="6">
                  <div class="carousel-caption">
                  </div>
                </div>
              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <!-- news -->
            <div class="news">
              <div class="news-title">
                最新消息
              </div>
              <div class="item">
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                <time>2016/5/23</time>
                普天同庆！121bank 近日正式成立！
              </div>
              <div class="item">
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                <time>2016/5/23</time>
                普天同庆！121bank 近日正式成立！
              </div>
              <div class="item">
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                <time>2016/5/23</time>
                普天同庆！121bank 近日正式成立！
              </div>
            </div>
          </div>
          <div class="content-list list1" target="list1">
            <div class="list-title">
              个人信息
            </div>
            <table>
              <tbody>
                <% for(var i=0;i < cards.length;i++) { %>
                <tr>
                  <th>银行卡号：</th>
                  <td>
                    <p class="contact-input">
                      <input type="text" name="cardID" value="<%=cards[i].cardID %>" disabled="disabled">
                    </p>
                  </td>
                </tr>
                <% } %>
                <tr>
                  <th>用户名：</th>
                  <td>
                    <p class="contact-input">
                      <input type="text" name="name" value="<%=user.name %>" disabled="disabled">
                    </p>
                  </td>
                </tr>
                <tr>
                  <th>身份证号：</th>
                  <td>
                    <p class="contact-input">
                      <input type="text" name="id" value="<%=user.id %>" disabled="disabled">
                    </p>
                  </td>
                </tr>
                <tr>
                  <th>真实姓名：</th>
                  <td>
                    <p class="contact-input">
                      <input type="text" name="trueName" value="<%=user.trueName %>" disabled="disabled">
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="user-head">
              <img id="user-head" src="/upload/<%=user.headUrl %>" alt="head" />
              <input type="file" class="img-file" name="img" /><br>
              <a onclick="$('.img-file').click()" href="javascript:;">选择文件</a>
              <span><=500k</span>
              <button type="button" class="upload-head" name="button" >上传头像</button>
              <% if (message) { %>
                <div class="msg"><%= message %> </div>
              <% } %>
            </div>
            <button type="button" class="button modifiUserMsg" name="button">修改</button>
            <button type="button" class="button addCard" name="button">添加其他银行卡</button>
            <button type="button" class="button" name="button" data-toggle="modal"
   data-target="#myModal">删除账户</button>
          </div>
          <div class="content-list" target="list2">
            <div class="bal-query">
              <table>
                <div class="bal-title">
                  银行卡账户
                </div>
                <thead>
                  <tr>
                    <td>账号</td>
                    <td>户名</td>
                    <td>别名</td>
                    <td>余额</td>
                  </tr>
                </thead>
                <tbody>
                  <% for(var i=0;i < cards.length;i++) { %>
                    <tr>
                      <td><%=cards[i].cardID %></td>
                      <td><%=user.trueName %></td>
                      <td><%=user.name %></td>
                      <td><%=cards[i].balance %></td>
                    </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>

          <div class="content-list" target="list3">
            <div class="inner-list">
              <table class="full-table">
                <tbody>
                  <th>
                    请选择卡号：
                  </th>
                  <td>
                    <label>
                      <select class="selCardId-detail" name="">
                        <% for(var i = 0;i < cards.length;i++) { %>
                        <option value="option"><%=cards[i].cardID %></option>
                        <% } %>
                      </select>
                    </label>
                  </td>
                </tbody>
              </table>
              <table class="full-table detail-table">
                <thead>
                  <tr>
                    <th>
                      交易日期
                    </th>
                    <th>
                      交易方式
                    </th>
                    <th>
                      支出金额
                    </th>
                    <th>
                      收入金额
                    </th>
                    <th>
                      对方卡号
                    </th>
                    <th>
                      对方户名
                    </th>
                    <th>
                      余额
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="content-list" target="list4">
            <div class="transfer-in">
              <div class="card">
                <table class="full-table">
                  <tbody>
                    <th>
                      请选择卡号：
                    </th>
                    <td>
                      <label>
                        <select class="selCardId" name="">
                          <% for(var i = 0;i < cards.length;i++) { %>
                          <option value="option"><%=cards[i].cardID %></option>
                          <% } %>
                        </select>
                      </label>
                    </td>
                  </tbody>
                </table>
                <table class="full-table">
                  <thead>
                    <div class="">
                      付款人信息
                    </div>
                  </thead>
                  <tbody>
                    <tr>
                      <th>转出卡号</th>
                      <td id="cardID"><%=cards[0].cardID %></td>
                    </tr>
                    <tr>
                      <th>户名</th>
                      <td><%=user.trueName %></td>
                    </tr>
                    <tr>
                      <th>可用余额</th>
                      <td id="balance"><%=cards[0].balance %></td>
                    </tr>
                    <tr>
                      <th>转账金额</th>
                      <td>
                        <input type="text" name="transferNum" value=""></td>
                    </tr>
                  </tbody>
                </table>
                <table class="full-table">
                  <thead>
                    <div class="">
                      收款人信息
                    </div>
                  </thead>
                  <tbody>
                    <tr>
                      <th>收款卡号</th>
                      <td id="cardID">
                        <input type="text" name="transferID" value=""></td>
                      </td>
                    </tr>
                    <tr>
                      <th>户名</th>
                      <td>
                        <input type="text" name="transferName" value=""></td>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <button class="button transfer" type="button" name="submit">转账</button>
              </div>
            </div>
          </div>

          <div class="content-list" target="list5">
            <div class="inner-list">
              <table class="full-table">
                <tbody>
                  <th>
                    请选择卡号：
                  </th>
                  <td>
                    <label>
                      <select class="selCardId-phone" name="">
                        <% for(var i = 0;i < cards.length;i++) { %>
                        <option value="option"><%=cards[i].cardID %></option>
                        <% } %>
                      </select>
                    </label>
                  </td>
                </tbody>
              </table>
              <table class="full-table">
                <thead>
                  <span>充值信息</span>
                </thead>
                <tbody>
                  <tr>
                    <th>
                      手机号码：
                    </th>
                    <td>
                      <input type="text" name="phoneNum" value="">
                    </td>
                  </tr>
                  <tr>
                    <th>
                      充值金额：
                    </th>
                    <td>
                      <input type="radio" name="money" value="20">20</input>
                      <input type="radio" name="money" value="50">50</input>
                      <input type="radio" name="money" value="100">100</input>
                    </td>
                  </tr>
                </tbody>
              </table>
              <button class="button" type="button" name="phoneRecharge">充值</button>
            </div>
          </div>



          <!-- 模态框（Modal） -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
             <div class="modal-dialog">
                <div class="modal-content">
                   <div class="modal-header">
                      <button type="button" class="close"
                         data-dismiss="modal" aria-hidden="true">
                            &times;
                      </button>
                      <h4 class="modal-title" id="myModalLabel">
                         系统消息
                      </h4>
                   </div>
                   <div class="modal-body">
                      确认要删除账户吗？
                   </div>
                   <div class="modal-footer">
                      <button type="button" class="btn btn-default"
                         data-dismiss="modal">关闭
                      </button>
                      <button type="button" class="red btn btn-primary delUser">
                         删除
                      </button>
                   </div>
                </div><!-- /.modal-content -->
          </div><!-- /.modal -->
        </div>
      </div>

      <div class="date" style="display: none;">
        <div class="date-cardID"></div>
      </div>

    </main>
    <footer>
      <span>121银行版权所有，未经许可不得转载，联系电话：12345 @2016 </span>
    </footer>
    <!-- Jquery -->
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	  <script src="http://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
	  <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="/js/user.js"></script>
    <script type="text/javascript">
      var cards = [];
      var j = 0;
      <% for(var i =0;i < cards.length;i++) { %>
        cards[j] = new Object();
        cards[j].cardID = "<%=cards[i].cardID %>";
        cards[j].balance = "<%=cards[i].balance %>";
        j++;
      <% } %>
      console.log(cards);
      $(".selCardId").change(function(e) {
        var _cardID = $(".selCardId").find("option:selected").text();
        console.log(_cardID);
        for(var i = 0;i < cards.length;i++) {
          if(cards[i].cardID == _cardID) {
            $("#cardID").text(cards[i].cardID);
            $("#balance").text(cards[i].balance);
          }
        }
      })
      $(".sidebar-fuc li[target='list3']").click(function(e) {
        var _cardID = $(".selCardId-detail").find("option:selected").text();
        console.log(_cardID);
        $(".date-cardID").text(_cardID);
      })
    </script>
  </body>
</html>
